[submodule "subprojects/gliden64"]
	path = subprojects/gliden64
	url = https://github.com/blawar/GLideN64.git
[submodule "subprojects/AziAudio"]
	path = subprojects/AziAudio
	url = https://github.com/metronidazole/AziAudio.git
